*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
*.pdf
*.gnuplot
*.bcf
*.xml

*.eps
*.png
*.synctex.gz(busy)
*.synctex(busy)

*.DS_Store
*.txt
*.pyc

9-term/aspam/BurmistrovSanduleanu2012SpamText_cp1251.tex
diff_cv/graph/*
venv

*secret*.json
*.json
