attrs==21.2.0
fuzzywuzzy
pafy==0.5.5
requests==2.22.0
youtube-dl
qrcode>=6.1
pymaging
selenium>=3.141
Pillow>=6.2.2
pygments>=2.7.2
pytesseract==0.3.8
python-Levenshtein
pyyaml
retry
pytube==12.0.0
# yt-dlp==2022.4.8
streamlit==1.10.0
watchdog==2.1.8  # speed up streamlit

# pystyle==0.6

# dev
# black==22.1.0
# yapf==0.32.0
# toml==0.10.2
