attrs==22.2.0
thefuzz==0.19.0
pafy==0.5.5
Pillow==9.4.0
pygments==2.13.0
pymaging
pytesseract==0.3.10
python-Levenshtein==0.20.9
pytube==12.1.2
pyyaml==6.0
qrcode==7.3.1
requests==2.28.2
retry==0.9.2
selenium==4.10.0
streamlit==1.17.0
watchdog==2.2.1  # speed up streamlit
youtube-dl==2021.12.17
tqdm==4.64.1
# yt-dlp==2023.1.6

# pystyle==2.9

# dev
# black==22.12.0
# yapf==0.32.0
# toml==0.10.2
